.footer {
  background-color: #3eadcc ;
  color: white;
  padding: 3rem 2rem;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.footer-logo img {
  height: 48px; 
  
  
  
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #3498db; 
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 1.5rem;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}
